<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrawerLayout"
        tools:targetApi="31">
        <activity
            android:name=".lesson_7.LessonEditActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_6.LessonTest6Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_9.Lesson9Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_8.Lesson8Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_7.Lesson7Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_6.Lesson6Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_5.Lesson5Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_4.LessonFourTestActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_3.LessonThreeActivityTest"
            android:exported="false" />
        <activity
            android:name=".lesson_4.LessonFourActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_3.LessonThreeActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_2.LessonTwoActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.LessonOneActivity"
            android:exported="false" />
        <activity
            android:name=".activitymain.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>